/* NOTES

/*

/* Global stuff */

    .hidden {
        display:none;
    }

    .clear {
        clear:both;
    }

/* TYPOGRAPHY */
    body {
        color:#545454;
    }

    p {

    }

    h1 {
        color:#437A2D;
    }

    h2 {

    }

    h3 {

    }

    .text-center {
        text-align: center;
    }


/* HEADER CSS */

/* FOOTER CSS */

/* SECTIONS OF PAGE CSS */

    .section {
        width:90%;
        max-width:600px;
        padding: 5%;
        margin:0 auto;
    }

    .top-divider {
        border-top:2px dotted #e0ebe8;
    }

/* Buttons */

    .share-button, .button {
        width: 100%;
        margin-bottom:5px;
    }

    .share-button:hover {
        background: #ec476b;
        transition-duration: .5s;
        -webkit-transition-duration: .5s;
    }

    .buttons {
        width:100%;
    }

    button, .btn, .button {
        display: inline-block;
        text-align: center;
        padding:8px 14px;
        font-size: 18px;
        font-weight: 900;
        letter-spacing: 1px;
        text-transform: none;
        text-decoration: none;
        color:#ffffff;
        border-radius: 20px;
        cursor: pointer;
        border-style: none;
        margin-bottom:5px;
    }

    button, .btn, .button {
        background: #437A2D;
    }

    button:hover, .btn:hover, .button:hover {
        background: #71d4dd;
        transition-duration: .2s;
        -webkit-transition-duration: .2s;
    }

    .donate-button {
        background-color:#ec476b;
        width:100%;
    }

    .donate-button:hover {
        background: #71d4dd;
        transition-duration: .5s;
        -webkit-transition-duration: .5s;   
    }

    .facebook {
        background: #3b5998;
    }
    
    .twitter {
        background: #1DA1F2;
    }
    
    .email {
        background: #ec476b;
    }

/* Blog Posts on Home Page */

/* Testimonials section */

    .client {
        font-style:italic;
    }

/* Misc */
    
    .headshot {
        width:200px;
        max-width:30%;
    }



@media screen and (min-width: 650px) {

    /* Type */

        body {
            background-size:100%;
        }

        h1 {
            font-size:3em;
        }

        h2 {
            font-size:1.5em;
        }

        h3 {

        }

        p {

        }

    /* SECTIONS OF PAGE CSS */


    /* button styles */

        .button {
            width:auto;
        }

        .donate-button {
            width:300px;
            margin:0 auto;
            display:block;
        }